<!DOCTYPE html>
<html>
  <head>
    <title>MAGICAL CREATURES</title>
  </head>

  <body>

    <h1><center> Welcome One and All to the Magical Creatures Website! </center></h1>
    <h2><center>
      A magical, mythical, and mythological creature, also called a fabulous creature and fabulous beast, is a supernatural animal, often a hybrid, sometimes part human, whose existence has not or cannot be proved and that is described in folklore but also in historical accounts before history became a science.
      <br /> <a href="/creatures">List of Magical Creatures</a>
    </center></h2>
    <center>
      <img src="https://vignette.wikia.nocookie.net/leagueoflegends/images/1/13/Fat_Poro.jpg/revision/latest?cb=20150215123504" alt="poro">
    </center>


  </body>
</html>
